.plot {
  width: 30vw;
  height: 30vw;
  border: solid 2px blue;
  position: relative;
}

.point {
  position: absolute;
  width: 1vw;
  height: 1vw;
  background-color: blue;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transform: translate(-50%, +50%);
}

.line {
  position: absolute;
  width: 100%;
  height: .5vw;
  transform: translate(-50%, +50%);
  transform-origin: left bottom;
  background-color: red;
  // border-radius: .25vw;
}
